<!DOCTYPE html>
<html lang="en">

<head>
    {{>header_links}}
</head>

<body>
  
  {{>navbar}}

    <!-- main header -->
    <div class="container-fluid main_header">
        <div class="row">
            <div class="col-md-10 col-12 mx-auto">
                
                <div class="row">
                    <!-- left side div -->
                    <div class="col-md-6 col-12 main_header_right ">

                         <figure>
                            <img src="images/profile.png" class="img-fluid" alt="Nimisha" title="profile pic">
                          </figure>

                    </div>
                    <!-- right side div -->
                    <div class="col-md-6 col-12 main_header_left">
                        
                        <p>Welcome to Weather App</p>
                        <h1>I am a <span class="text-color">Full Stack web developer</span></h1>
                        <a href="#"><button>about me</button></a>

                    </div>
                </div>

            </div>
       </div>
    </div>


    <!-- footer -->
    {{>footer}}


</body>

</html>